/* Navbar container */
.navbar {
  background-color: #a4b1be;
  padding: 30px 0;
}


/* Navigation list */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the list horizontally */
}

/* List items */
.nav-list li {
  margin: 0 20px; /* Add spacing between list items */
}


/* Links */
.nav-list a {
  font-size: 30px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

/* Hover effect */
.nav-list a:hover {
  color: #0056b3;
}

/* You can further customize these styles to match your design preferences */
